body {
  font-size: 14px;
}
.form-control {
     /*padding: .5rem .75rem; */
     font-size: .8rem;
     color: #000;
  }
.top-section {
  margin-top: 1rem;
  padding: 0 2em;
}
.orange-box {
  background-color: #FFEEA8;
  padding: .6em;
  /*border: 1px solid black;*/
}
.muted {
  /*color: #959595;*/
  opacity: .3;
}
.first-part, .second-part {
  padding-bottom: 1.5em;
  border-bottom: 1px solid #fff;
}
.third-part {
  padding: 1em 0 5em;
}
.radio-btns {
  margin-top: 2em;
}
.grey-box {
  background-color: #EEEEEE;
  padding: .6em;
  /*border: 1px solid black;*/
}
.top-header {
  margin-bottom: 0;
}
#kancelare {
  margin-top: -0.7em;
  padding-bottom: 1.3em;
  border-bottom: 1px solid #fff;
}
.middle-part {
  font-size: 1.15em;
}
#more {
  padding-bottom: .5em;
}
.btn-section {
  margin-top: 2em;
}
